<header class="mx-auto bg-white pt-5 px-8 w-full max-w-[1240px]">
    <nav class="flex justify-between items-center font-[600] text-[14px]">
        <div class="flex gap-8 items-center">
            <a class="relative
                      hover:before:opacity-100
                      before:duration-300 ease-in
                      before:opacity-0
                      before:content-['']
                      before:absolute
                      before:-bottom-7
                      before:left-0
                      before:w-full
                      before:h-1
                      before:bg-green-300
                      before:z-[5]
                ">Найти рейс</a>
            <a href="" class="relative
                      hover:before:opacity-100
                      before:duration-300 ease-in
                      before:opacity-0
                      before:content-['']
                      before:absolute
                      before:-bottom-7
                      before:left-0
                      before:w-full
                      before:h-1
                      before:bg-green-300
                      before:z-[5]">Найти отели</a>
        </div>

        <div class="">
            LOGO
        </div>

        <div class="flex gap-8 items-center">
            <a href="">Вход</a>
            <a href="" class="bg-black py-4 px-6 rounded-xl text-white">Регистрация</a>
        </div>
    </nav>


</header>