<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    {% include 'partials/header.html' %}
    {% if messages %}
    <div class="max-w-xl mx-auto mt-4">
        {% for message in messages %}
            <div class="mb-2 px-4 py-2 rounded text-white {% if message.tags == 'success' %}bg-green-500{% elif message.tags == 'error' or message.tags == 'danger' %}bg-red-500{% else %}bg-blue-500{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <main>
        {% block content %}{% endblock content %}
    </main>
    {% include 'partials/footer.html' %}
</body>
</html>